<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Country</key>
	<array>
		<string>India</string>
		<string>USA</string>
		<string>Germany</string>
		<string>Canada</string>
	</array>
	<key>carsBrands</key>
	<array>
		<string>Mercedes</string>
		<string>Audi</string>
		<string>Rolls</string>
		<string>Toyota</string>
	</array>
</dict>
</plist>
